@import "../icons/style.css";
@import "../fonts/onlinefontconverter.com/converted-files/font.css";
.content {
  height: 160px;
  overflow: hidden;
  font-size: 35px;
  line-height: 40px;
  text-shadow: 1px 1px 2px #444;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000003b;
  padding: 40px;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
body {
  font-family: "Roboto Slab", serif;
  background-color: #a9a4a4;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 40px 0 20px;
  position: fixed;
  color: #b8b8c9;
  background: rgba(19, 17, 17, 0.09);
  border-radius: 0;
  border: none;
  height: 100px;
  font-weight: 300;
  margin-bottom: 0;
  transition: all 0.3s ease;
}
.header .header-title {
  position: relative;
  z-index: 102;
  font-size: 40px;
  line-height: 1.5;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(68, 68, 68, 0.85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000003b;
}
.header .icon-menu {
  text-decoration: none;
  color: #f3e9e9;
  font-size: 20px;
  float: right;
}
.header .card {
  background-color: #f3e9e9;
  position: absolute;
  top: 82px;
  right: 37px;
  width: 400px;
  list-style: none;
}
.header .nav-header {
  position: relative;
  z-index: 102;
}
.header .nav-header .nav-list {
  display: flex;
  list-style: none;
}
.header .nav-header .nav-list li {
  margin-right: 40px;
  color: #a9a4a4;
}
.header .nav-header .nav-menu-link {
  font-size: 24px;
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-shadow: 1px 1px 2px #444;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000003b;
}
.header .nav-header .figure {
  color: #fff;
  border: 1px solid #150a0a;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 13px;
}

.section-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.section-background .background {
  height: 100%;
  width: 100%;
}
.section-background .background .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.11);
  z-index: 100;
}
.section-background .section-video-background {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.section-background .section-video-background .video-background {
  width: 100%;
  z-index: 100;
}

.intro {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px 20px 0;
  margin-top: 200px;
}
.intro .intro-text {
  color: #a9a4a4;
  font-size: 40px;
  letter-spacing: 0.15em;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 40px;
  text-align: center;
  padding: 30px;
  border: 1px solid #f13e3e;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #444;
}
.intro .intro-title {
  color: #a9a4a4;
  font-size: 40px;
  letter-spacing: 0.15em;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 20px;
  border: 1px solid #150a0a;
  text-shadow: 1px 1px 2px #444;
}

.intro-img-box {
  box-shadow: 10px 5px 5px black;
  max-height: 600px;
  border-radius: 10px;
}

/*# sourceMappingURL=common.css.map */
