@import "variables"

body

	background-color: $mainColor
	font-size: 16px
	font-weight: normal
	min-height: 100vh
	overflow-x: hidden

.container
	max-width: 1170px

.header
	padding-top: 40px

	.icon-menu
		text-decoration: none
		color: $lighterColor
		font-size: 20px
		float: right

	.card
		background-color: $lighterColor

	.nav-header

		.nav-list
			display: flex
			list-style: none

		.nav-list li
			margin-right: 20px

			.figure
				color: #fff
				border: 1px solid $warningColor
				border-radius: 100%
				width: 30px
				height: 30px
				text-align: center
				display: inline-block
				text-transform: uppercase
				line-height: 30px
				font-size: 13px
