@import "variables"

body
	font-family: 'Roboto Slab', serif
	background-color: $mainColor
	font-size: 16px
	font-weight: normal
	min-height: 100vh
	overflow-x: hidden

.container
	max-width: 1170px

.header
	padding-top: 40px
	position: relative
	z-index: 102
	color: #b8b8c9
	margin-bottom: 80px
	background-color: #674152

	.header-title
		position: relative
		z-index: 102

	.icon-menu
		text-decoration: none
		color: $lighterColor
		font-size: 20px
		float: right

	.card
		background-color: #f3e9e9
		position: absolute
		top: 82px
		right: 37px
		width: 400px
		list-style: none


	.nav-header
		position: relative
		z-index: 102

		.nav-list
			display: flex
			list-style: none

		.nav-list li
			margin-right: 40px
			color: $mainColor

		.nav-menu-link
			font-size: 20px
			letter-spacing: 0.15em
			font-weight: 300
			line-height: 20px
			text-decoration: none
			color: $mainColor

		.figure
			color: #fff
			border: 1px solid $warningColor
			border-radius: 100%
			width: 30px
			height: 30px
			text-align: center
			display: inline-block
			text-transform: uppercase
			line-height: 30px
			font-size: 13px

.section-background


	.section-video-background
		width: 100%
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		overflow: hidden
		z-index: 100

		.video-background
			width: 100%
			z-index: 100

.intro
	position: relative
	z-index: 102
	padding: 50px 50px 0
	border: 1px solid #ff3030

	.intro-text
		color: $mainColor
		font-size: 60px
		letter-spacing: 0.15em
		font-weight: 300
		line-height: 20px
		margin-bottom: 40px
		text-shadow: 1px 1px 2px #444
		text-align: center
		padding: 30px
		border: 1px solid #f13e3e

	.intro-title
		color: $mainColor
		font-size: 40px
		letter-spacing: 0.15em
		font-weight: 500
		line-height: 40px
		padding-left: 70px
		margin-bottom: 20px
		border: 1px solid #f13e3e

	.intro-img
		position: relative
		z-index: 102
		min-width: 450px
		max-height: 450px
		opacity: 0.7
		margin: 0 auto

	.intro-figure
		padding: 30px
		border: 1px solid #f13e3e
		text-align: center
		width: 400px
		height: 200px
		-webkit-transition: 1s ease
		transition: 1s

	.intro-figure:hover
		transform: rotateY(180deg)
		transition: 1s







